@import 'global';

.b-toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 60px;
  background: $active;
  border-radius: 5px;
  z-index: 100;
  animation: toast 4.5s 1;
  top: 90px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes toast {
  0% {
    top: -300px;
  }

  10% {
    top: 15px;
  }

  80% {
    top: 15px;
  }

  100% {
    top: -300px;
  }
}
